{{>header}}
    <div class="container">
        <h3>Advices List</h3>
        <hr>
        <div class="row">
            
            {{#advices}}
            <div class="col-md-4 mb-3">
                <div class="border p-2 text-center"> 
                    
                    <img src="/advice/{{id}}/image" alt="Advice Photo" class="img-fluid mb-2" style="height: 200px; object-fit: cover;">
                    
                    <h4>{{title}}</h4>
                    <p>Category: {{category}}</p>
                    <p><strong>Price: {{price}} €</strong></p>
                    
                    <a href="/advice-detail/{{id}}" class="btn btn-success w-100">View Details</a>
                </div>
            </div>
            {{/advices}}
            
        </div>
        
        </div>
{{>footer}}