{{>header}}

<div class="container" style="max-width: 600px;">
    <div class="border p-4 mb-5">
        <h3 class="text-center">Create New Account</h3>
        <hr>

        {{#errorMsg}}
            <div class="alert alert-danger text-center" role="alert">
                {{errorMsg}}
            </div>
        {{/errorMsg}}
        
        <form action="/register" method="post">
            <p>Name:</p>
            <input type="text" name="name" required />

            <p>Email:</p>
            <input type="email" name="email" required />

            <p>Password:</p>
            <input type="password" name="password" required />

            <p>Profile picture:</p>
            <input type="file" name="fotoPerfil" />

            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

            <input type="submit" value="Register" />
        </form>




        {{>footer}}